@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply text-balance border-border;
  }
  html {
    @apply overflow-x-hidden;
  }
  body {
    @apply overflow-x-hidden bg-background text-foreground;
  }
}

@layer components {
  .section-px {
    @apply px-10 max-md:px-10 max-sm:px-4;
  }
  .section-py {
    @apply py-44 max-md:py-20;
  }
  .section-box-w {
    @apply section-px mx-auto w-full max-w-7xl;
  }
  .flex-center {
    @apply flex items-center justify-center gap-10;
  }
  .flex-col-screen {
    @apply grid min-h-screen w-full items-start justify-center;
  }
  .autofit-grid-250 {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  @media screen and (max-width: 768px) {
    .autofit-grid-250 {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
}
