@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    width: 100%;
  }
  body {
    display: grid;
  }
}
@layer components {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .autofit-grid-250 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  @media screen and (max-width: 768px) {
    .autofit-grid-250 {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
}
