@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    width: 100%;
  }
  body {
    display: grid;
  }
}
@layer components {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
